.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidemenu{
  width: 240px;
  border: 1px solid white;
  background-color: #343434;
  padding: 10px;
}

.sidemenu-newchat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mainmenu{
  flex: 1;
}

.chat-log{
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
}

.chat-log-message{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message{
  background-color: #343434;
  color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.mainmenu-chat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.chat-input{
  background-color: #282c34;
  color: white;
  width: 75%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
